<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('main_banner') %>);">
  <div class="container">
    <h1>Drank a glass of cocktail <strong>excellent</strong> for the head...</h1>
    <p>A cocktail can be made by the bartender. But the cocktail also can be made by the chef.</p>
    <%= link_to new_cocktail_path do %>
      <button class="btn btn-warning">Create Cocktail</button>
    <% end %>
  </div>
</div>

<div class="container-card">
  <div class="row">

    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-4 col-sm-offset-3">
        <div class="card mb-3" style="max-width: 540px;">

          <div class="row no-gutters">
            <div class="col-md-4">
              <%= link_to cocktail_path(cocktail.id) do %>
                <%= cl_image_tag cocktail.photo, width: 200, height: 300, crop: :fill %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= cocktail.name %></h5>
                  <%= link_to edit_cocktail_path(cocktail.id) do %>
                    <i class="fa fa-edit"></i>
                  <% end %>
                  <%= link_to new_cocktail_path, method: :delete, data: { confirm: "Delete #{cocktail.name}?" } do %>
                    <i class="fa fa-trash-alt"></i>
                  <% end %>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>
